streamlit
newspaper3k
transformers==4.36.2
gspread
oauth2client
google-api-python-client
google-auth
google-auth-oauthlib
requests
lxml_html_clean
numpy==1.26.4
torch==2.1.0+cpu
accelerate==0.25.0
--find-links https://download.pytorch.org/whl/torch_stable.html
